[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/engimo"]
	path = themes/engimo
	url = https://github.com/achary/engimo.git
[submodule "themes/theer"]
	path = themes/theer
	url = https://github.com/hanpannet/theer.git
[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/vimux/mainroad
